extends ../internal.layout.pug

block variables
  - var title = 'Обо мне';

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn-Phrt2ecty1kWso5MTjS3wzIqnZdwKA")
  script(src='about.bundle.js')

block content
    include ../common/hero
    section.about
        .about__triangles
            +section-triangles('#efeee9', '#fff')
        .about__left
            .about__left-wrapper
                .about__left-title
                    .block-title.about__left-title_big-size Обо мне
                .about__left-content
                    .user-description
                        .user-description__image
                            img(src="/assets/images/about_desc_avatar.jpg").user-description__avatar
                        .user-description__data
                        .user-description__title
                            .block-subtitle Кто я
                        .user-description__text.text-content
                            p Привет! Меня зовут Артём, я программист из Санкт-Петербурга. Более 5-ти лет занимаюсь бэкенд-разработкой. Реализовал несколько больших коммерческих проектоа.
                            p В последнее время решил углубиться во фронтенд, начал изучать Gulp, Pug, VueJs.
                            p Так же в свободное от работы время пробую себя в blockchaine. На данный момент с единомышленниками разрабатываем в качестве эксперимента игровой движок на криптовалюте Эфириум.
        .about__right
            .about__right-wrapper
                .about__right-title
                    .block-subtitle Чем я могу быть вам полезен
                .about__right-description.text-content
                    p Есть опыт в разработке высоконагруженных приложений. Клиент-серверного API для мобильных приложений. CRM-систем для управления сервисами и работы колл-центра.
                .about__right-content
                    #skills-container

    .clearfix
    section.map
        div(id="google-map").google-map
        .map__data
            .contacts
                h2.contacts__title
                    .block-subtitle Контaкты
                address.contacts__data
                ul.contacts__list
                    -
                        var contacts = [
                            ['skype', 'skype_n'],
                            ['skype', 'phone_n'],
                            ['skype', 'phone'],
                            ['skype', 'phone2']
                        ]
                    each item in contacts
                        li.contacts__item
                            .contacts-row.contacts__icon
                                +icon(`${item[0]}`, 'contacts__icon-img')
                            .contacts-row.contacts__title #{item[1]}