extends ../internal.layout.pug

block variables
  - var title = 'Блог';
  - var footerModificator = true;

block scripts
  script(src='blog.bundle.js')

block content
    header.header
        .hero__links
            +socials('socials_about')
        .user.blog__user
            .user__pic
                img(src="/assets/images/avatar.jpg").user__avatar
            .user__description
                .user__title Блог
                .user__info Статьи, которые я написал

    section(id="blog").blog
        .blog__triangles
            +section-triangles('#fff', '#fff')
        div(id="postsList").blog-content
            .blog__left
                div(@click="showMenu"  ":class"="{'active': isShowMenu, '': !isShowMenu }").menu-circle
                aside(":class"="{'active': isShowMenu, '': !isShowMenu }").sidebar
                    nav(":scroll"="handleScroll", :class="{'fixed': isFixed, '': !isFixed }").menu-left
                        ul(v-for="item in posts").menu-left__list
                            li.menu-left__item
                                a.menu-left__link {{ item.title }}

            .blog_right
                div(v-for="item in posts").post-list
                    .post
                        h1.post__title {{ item.title }}
                        .post__date {{ item.date }}
                        .post__text
                            div(v-html="item.content")
