extends ../main.layout.pug

block scripts
    script(src='auth.bundle.js')

block variables
  - var title = 'Welcome';
block content
    .Background
        canvas.Background-canvas

    section(id="welcome").welcome
        .welcome__header-link
           button(
                @click="switchCards" class="btn-auth" ":class"="{'active': isFlip, 'disabled': !isFlip }"
            ) Авторизоваться
        div(":class"="{'active': isFlip, 'disabled': !isFlip }").flip-container
            .flipper
                .welcome__clip.front
                    .user.welcome__user
                        .user__image
                            img(src="/assets/images/avatar.jpg").user__avatar
                        .user__description
                            .user__name Гошовский Артём
                            .user__info Личный сайт разработчика
                    .social-links
                        +socials('welcome_socials')
                    .welcome_menu
                        -
                            var links = [
                            ['Мои работы','/works.html'],
                            ['Обо мне','/about.html'],
                            ['Блог','/blog.html']
                            ]
                        ul.menu-links
                            each item in links
                                li.menu__item
                                    a(href=`${item[1]}`).menu__link #{item[0]}
                .auth__form-container.back
                    #auth