extends ../main.layout.pug

block variables
  - var title = 'Welcome';
block content
    section.welcome
        .welcome__header-link
            a(href="").btn-auth Авторизоваться
        .welcome__clip
            .user.welcome__user
                .user__image
                    img(src="/assets/images/avatar.jpg").user__avatar
                .user__description
                    .user__name Гошовский Артём
                    .user__info Личный сайт разработчика
            .social-links
                -
                    var socials = [
                        ['vk', 'http://vk.com'],
                        ['github', 'http://github.com'],
                        ['in', 'http://linkedin.com']
                    ]
                ul.socials
                    each item in socials
                        li.socials__item
                            a(href=`${item[1]}`).socials__link
                                +icon(item[0], 'socials__link-icon socials__link-icon_gray')
            .welcome_menu
                -
                    var links = [
                        ['Мои работы','/works'],
                        ['Обо мне','/about'],
                        ['Блог','/works']
                    ]
                ul.menu-links
                    each item in links
                        li.menu__item
                            a(href=`${item[1]}`).menu__link #{item[0]}