extends ../internal.layout.pug

block variables
  - var title = 'Мои работы';

block scripts
  script(src='works.bundle.js')

block content
   include ../common/hero
   section.works
        .works__triangles
            +section-triangles('#fff', '#fff')
        .works__title
            .block-title.block-title_my-works Мои работы

   .slider-container
        #slider-component
   section.about-me
        .about-me__title
            .block-title.block-title_about-me Что обо мне говорят
        .about-me__reviews
        ul.reviews__list
            each item in [1, 2]
                li.reviews__item
                    .reviews__avatar
                        .reviews__avatar-pic
                            +image('user.jpg', 'review author', 'reviews__avatar-image')
                    .reviews__text.text-block
                        p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__author
                        .reviews__author-data
                            .reviews__name Ковальчук Дмитрий
                            .reviews__occ - основатель Loftschool
        .reviews__form-container
            form.modal-form.modal-form_blured
                .modal-form__bg
                .modal-form__title
                    .block-subtitle Связаться со мной
                .modal-form__container
                    input(type="text" placeholder="Имя").modal-form__input
                    input(type="text" placeholder="Email").modal-form__input
                    textarea(placeholder="Ваше сообщение").modal-form__input.modal-form__input_textarea
                .modal-form__buttons
                    button.modal-form__button Отправить
                    button.modal-form__button Очистить