script(type="text/x-template")#auth-forms
  div
    form( id="auth" novalidate="true").auth-form
      .auth-form__title
        .block-subtitle.block-subtitle_white Авторизоваться
      .auth-form__container
        div(":class"="{'input-error': loginInput==='error', 'input-success': loginInput=='valid', '': loginInput== '' }").auth-form__input-item
          i.auth-form__input-icon.auth-form__input-icon__login
          input(
          type="text"
          placeholder="Логин"
          "v-model"="login"
          ).auth-form__input
        span.auth-form__tooltip
          span(":class"="{'show': loginError==true, '': !loginError }").auth-form__tooltiptext Вы не ввели логин
        div(":class"="{'input-error': passInput==='error', 'input-success': passInput=='valid', '': passInput== '' }").auth-form__input-item
          i.auth-form__input-icon.auth-form__input-icon__password
          input(type="password" placeholder="Пароль" "v-model"="pass").auth-form__input
        span.auth-form__tooltip
          span(":class"="{'show': passError==true, '': !passError }").auth-form__tooltiptext Вы не ввели пароль
        .auth-form__captcha
          input(type="checkbox" id="checkbox"  "v-model"="checkbox").auth-form__checkbox
          label(for="checkbox").auth-form__checkbox-label Я человек
          .auth-form__question Вы точно не робот?
          .auth-form__radio-buttons
            .auth-form__radio-item
              input(type="radio" name="no-robot" id="radio").auth-form__radio-button
              label(for="radio").auth-form__radio-label Да
            .auth-form__radio-item
              input(type="radio" checked="checked" name="no-robot" id="radio2").auth-form__radio-button
              label(for="radio2").auth-form__radio-label Не уверен
        span.auth-form__tooltip
          span(":class"="{'show': loginError==true, '': !loginError }").auth-form__tooltiptext Подтвердите, что вы не робот

      .auth-form__buttons
        button.auth-form__button На главную
        button(@click="loginFunc").auth-form__button Войти