section.hero
    .hero__wrap
        .hero__links
            +socials('socials_about')
        .hero__menu
            a(href="").hamburger
        .hero__title
            .user.hero__user
                .user__pic
                    img(src="/assets/images/avatar.jpg").user__avatar
                .user__description
                .user__name Гошовский Артём
                .user__info Личный сайт разработчика
        a(href="").down-btn.hero__down-btns