include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(rel='shortcut icon' href='/assets/images/fav_forest.png')
    title Portfolio | #{title}
    link(rel='stylesheet' href='main.min.css')
  body
    include ./common/preloader.pug
    .wrapper
      div(id="internal").maincontent
        #mob-menu
        block content

      include ./common/internal_footer.pug

    include ./components/entry.pug
    script(src='bootloader.bundle.js')
    script(src='vendor.bundle.js')
    block scripts
