@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: 'Sansus Webissimo';
  src: url('/assets/fonts/Sansus-Webissimo-Regular.ttf') format('truetype'),
  url('/assets/fonts/Sansus-Webissimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}