.about {
  min-height: 600px;
  display: grid;
  grid-template: "left right" 100% / 1fr 1fr;
  position: relative;
  @include tablets {
    grid-template: "left" 100% "right" 100% / 1fr;
  }

  &__left, &__right {
    display: flex;
    flex-flow: column;
    position: relative;
  }

  &__left {
    grid-area: left;
    background-color: #ebefe2;
    align-items: flex-end;

    @include tablets {
      align-items: center;
      margin-bottom: 40px;
    }

  }

  &__right {
    grid-area: right;
    background-color: #ffffff;
    @include tablets {
      align-items: center;
      text-align: center;
    }
  }

  &__left-wrapper, &__right-wrapper  {
    max-width: 600px;
  }

  &__left-wrapper {
    justify-items: end;
    @include tablets {
      justify-items: center;
    }
  }

  &__left-wrapper {
    justify-items: start;
  }

  &__left-title {
    width: 350px;
    text-align: center;
    background: svg-load('about_header.svg', fill=#93c42e, opacity=0.15) center center no-repeat;
    background-size: contain;
    position: relative;
    margin: -30px auto 0  auto;
    padding-top: 30px;
    @include tablets {
      width: 250px;
      margin: 20px auto 0  auto;
    }
  }

  &__left-title_big-size {
    font-size: 63px;
    @include tablets {
      font-size: 50px;
    }
    @include phone {
      font-size: 34px;
    }
  }

  &__left-content {
    padding: 0 75px;
    @include phone {
      padding: 0;
    }
  }

  &__right-content {
    padding: 0 37px;
    @include tablets {
      justify-items: center;
    }
    @include phone {
      padding: 0;
    }

  }

  &__right-title {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 270px;
  }

  &__triangles {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
  }

  &__right-description {
    padding: 0 37px;
  }
}

.user-description__image {
  margin: 40px auto;
}
.user-description__avatar {
  width: 100%;
}
.user-description__title{
  text-align: center;
  position: relative;
}

.user-description__text, .about__right-description {
  margin: 30px auto;
  p {
    margin-bottom: 20px;
  }
}

.about__triangles .section-triangles__left svg {
  @include tablets {
    fill: #efeee9;
  }
}

