.about {
  height: 100vh;
  min-height: 600px;
  display: grid;
  grid-template: "left right" 100% / 1fr 1fr;
  position: relative;

  &__left, &__right {
    display: flex;
    flex-flow: column;
    position: relative;
  }

  &__left {
    grid-area: left;
    background-color: #ebefe2;
    align-items: flex-end;

  }

  &__right {
    grid-area: right;
    background-color: #ffffff;
  }

  &__left-wrapper, &__right-wrapper  {
    max-width: 600px;
  }

  &__left-wrapper {
    justify-items: end;
  }

  &__left-wrapper {
    justify-items: start;
  }

  &__left-title {
    width: 350px;
    text-align: center;
    background: svg-load('about_header.svg', fill=#93c42e, opacity=0.15) center center no-repeat;
    background-size: contain;
    position: relative;
    margin: -30px auto 0  auto;
    padding-top: 30px;
  }

  &__left-title_big-size {
    font-size: 63px;
  }

  &__left-content {
    padding: 0 75px;
  }

  &__right-content {
    padding: 0 37px;
  }

  &__right-title {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 260px;
  }

  &__triangles {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
  }

  &__right-description {
    padding: 0 37px;
  }
}

.user-description__image {
  margin: 40px auto;
}
.user-description__avatar {
  width: 100%;
}
.user-description__title{
  text-align: center;
  position: relative;
}



.block-subtitle {
  color: #566358;
  font-family: 'bernier';
  font-size: 36px;
  line-height: 1.3;
  padding-bottom: 20px;
  &:after {
    content:"";
    width:90px;
    background: #566358;
    position:absolute;
    border-bottom: 1px solid #373e42;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100%;
    margin: 0 -50% 0 0;
  }
}
.user-description__text, .about__right-description {
  margin: 30px auto;
}



