.about-me {
  position: relative;
  padding-bottom: 200px;
  background: url('/assets/images/bg_about-me.jpg') center 0 no-repeat;
  background-size: cover;
  padding-top: 40px;
  &__title {
    width: 580px;
    height: 165px;
    margin:  0 auto;
    text-align: center;
    background: svg-load('about_header.svg', fill=#93c42e, opacity=0.15) center center no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include phone {
      width: 250px;
      height: 80px;
      background-position: center center;
    }
  }
}

.block-title.block-title_about-me {
  width: 340px;
  font-size: 63px;
  padding-bottom: 0;
  line-height: 1.1;
  @include phone {
    font-size: 34px;
    width: 250px;
  }
  &::after{
    margin: 25px -50% 0 0;
  }
}








