.header {
  background: url('/assets/images/water.jpg') top center;
  background-size: cover;
  height: auto;
  position: relative;
  text-align: center;
  min-height: 440px;
  padding-top: 80px;
}

.user.blog__user {
  .user__title {
    color:#fff;
    position: relative;
    font-size: 63px;
    margin-bottom: 30px;
    @include tablets {
      font-size: 50px;
    }
    @include phone {
      font-size: 34px;
    }
    &:after {
      content:"";
      width:90px;
      background: #fff;
      position:absolute;
      border-bottom: 1px solid #fff;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 100%;
      @include phone {
        width:50px;
      }
    }
  }
}

.blog {
  position:relative;
  &__triangles {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
  }
}
.blog-content {
  padding-top: 50px;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template: "left right" 100% / 40% 60%;
  position: relative;
  @include notebook {
    width:100%;
  }
  @include tablets {
    grid-template: "right" 100% / 1fr;
  }

}

.sidebar {
  padding-right: 100px;
  text-align: right;

  @include tablets {
    display: none;
  }

}

.menu-left__item {
  display: inline-block;
  margin-bottom: 40px;
  width: 260px;
  position: relative;
  &:hover {
    color:#4e8839;
    text-decoration: none;
    &:after {
      content: "";
      width: 0;
      min-height: 35px;
      height: 100%;
      display: block;
      border-right:3px solid #4e8839;
      position: absolute;
      transform: translate(0, -50%);
      top: 50%;
      right: -15px;
    }
  }
}

.menu-left__link {
  font-size:16px;
  color: #455a64;
  text-decoration: none;
  position: relative;
}

.blog .internal-footer {
  position: relative;
}

.internal-footer.blog-footer {
  position: relative;
}