
.down-btn {
  display: block;
  background: svg-load('portf_arrow_down.svg', fill=#c2d3c9) center center no-repeat;
  background-size: cover ;
  &:hover {
    background: svg-load('portf_arrow_down.svg', fill=#fff) center center no-repeat;
    background-size: cover ;
  }
  z-index: 12;
}
.down-btn.hero__down-btns {
  width: 26px;
  height: 16px;
  position: absolute;
  top:513px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
