.hero {
  background: url('/assets/images/water.jpg') top center;
  background-size: cover;
  height: auto;
  position: relative;
  text-align: center;
  overflow: hidden;

  &__wrap {
    width: 90%;
    margin:0 auto;
    position: relative;
    min-height:600px;
  }

  &__links {
    position: absolute;
    left: 30px;
    top: 30px;
    @include tablets {
      left: 0;
    }
  }

  &__links .socials__link-icon {
    width: 26px;
    height: 22px;
    fill:#fff;
  }

  &__menu {
    position: absolute;
    right: 30px;
    top: 30px
  }

  &__title {
    top: 50%;
    margin: 0 -50% 0 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 300px;
    background: svg-load('portfolio_header.svg', fill=#fff, opacity=0.12) center center no-repeat;
  }

  &__user {
    padding: 40px;
  }
}

.hamburger {
  background: svg-load('hamburger.svg', fill=#fff) center center no-repeat;
  display: block;
  width: 40px;
  height:35px;

  @include tablets {
    width: 27px;
    height:25px;
    background-size: contain;
  }
}
