.auth__form-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  margin: auto;
  background-color: rgb(18,38,32,0.5);
  width: 380px;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
