.internal-footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  @include tablets {
    font-size: 14px;
  }
  background-color: rgb(18,38,32,0.5);
  h2 {
    font-size: 16px;
    color: #fff;
  }

  &__wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding-bottom: 25px;
  }

  &__row {
    padding-top: 30px;
    display: grid;
    grid-template: "left center right"  / 1fr 1fr 1fr;

    @include tablets {
      grid-template:
              "left center"
              "right right"
                  / 1fr 1fr;
    }
    @include phone {
      grid-template:
              "left"
              "center"
              "right"
                  / 1fr;
    }
  }

  &__col {
    border-right: 1px solid rgba(#ccc, .5);
    padding: 0 20px;
    @include tablets {
      border:none;
    }
    @include phone {
      border-bottom: 1px solid rgba(#ccc, .5);
      margin: 0 10px;
      padding: 15px 10px;
    }
    &-block-left {
      grid-area: left;
    }
    &-block-center {
      grid-area: center;
    }
    &-block-right {
      grid-area: right;
      @include tablets {
        text-align: center;
        padding-top: 25px;
      }
    }
    &:last-child {
      border: none;
      padding-right: 10px;
    }
    &:first-child {
      padding-left: 10px;
    }
  }

  &__copyright {
    background-color: rgba(119, 162, 102, 0.85);
    float: left;
    width: 100%;
    height: 40px;
    h2 {
      margin-top: 10px;
    }
  }

  &__menu {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    .menu__item {
      display: inline;
    }
  }

  &__text-left {
    font-size: 16px;
    color:#dedfdf;
    text-align: left;
  }
}

.menu__link.menu-link-footer {
  background: none;
  display: inline-block;
  margin: 0 10px;
  @include tablets {
    margin: 0 8px;
  }
  padding: 0;
  &:hover {
    background: none;
  }
}
.socials_footer {
  .socials__item {
    display: inline-block;
  }
  .socials__link-icon {
    width:30px;
    height: 25px;
    fill: #a1a7a5;
    &:hover {
      fill: #fff;
    }
  }
}
.socials.socials_footer {
  text-align: left;
}

.menu__item.menu-item-footer {
  border: none;
}

.socials_footer .socials__link:hover {
  .socials__link-icon {
    fill:#fff!important;
  }
}
