.modal-form {
  border-radius: 10px 10px 0 0;
  background: rgba(#ccc, .5);
  position: relative;
  padding: 20px;

  &__title {
    text-align: center;
    margin-bottom: 38px;
    position: relative;
  }

  &__controlls-title {
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__container {
    position: relative;
  }

  &__row {
    margin-bottom: 20px;
  }

  &__input {
    display: block;
    border-radius: 25px;
    border: 0 none;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;

    &_textarea {
      height: 140px;
      resize: vertical;
    }
  }

  &__buttons {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }

  &__button {
    flex: 1;
    padding: 15px;
    background: $green;
    color: #fff;
    transition: .3s;
    font-weight: 600;
    border-right: 2px solid #acc3a8;
    white-space: nowrap;

    &:hover {
      background: #4e8839;
    }

    &:last-child {
      border: none;
    }
  }

  &__controlls {
    text-align: center;
  }
}

.form-errors {
  visibility: hidden;
  position: absolute;
  margin-top: -28px;
  text-align: center;
  width: 100%;
  color: #e44845;
  &.show {
    visibility: visible;
  }
}
