.post {
  margin-top: 75px;
  position: relative;
  &:last-child {
    margin-bottom: 75px;
  }
  @include notebook {
    padding: 0 20px;
  }
  &:after {
    border-bottom: 4px solid #ecebe4;
    content: "";
    display: block;
    height: 0;
    width: 100%;
    position: absolute;
    @include notebook {
      width: 93%;
    }
  }
  &__title {
    color:#566358;
    font-size: 36px;
    @include tablets {
      font-size: 30px;
    }
    @include phone {
      font-size: 21px;
    }
  }
  &__date {
    color: #4e8839;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    @include tablets {
      font-size: 14px;
    }
    @include phone {
      font-size: 13px;
    }
  }
  &__text {
    padding-bottom: 55px;
    p {
      margin-bottom: 20px;
    }
    @include tablets {
      font-size: 14px;
    }
  }
}