.preloader {
  background: url("/assets/images/forest_prel_bg.jpg") center center no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  transition: all 0.5s ease;
  .preloader__spinner {
    text-align: center;
    right: auto;
    margin: 0 -50% 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100px;
    height: 100px;
    transition: all 0.5s ease;
  }
  &.hide {
    display: none;
  }
  .preloader__text {
    text-align: center;
    right: auto;
    margin: 0 -50% 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    transition: all 0.5s ease;
  }
}