.socials {
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 15px;
  }
  &__link{
    display: block;
    &:hover .socials__link-icon {
      fill:#477d37;
    }
  }
  &__link-icon {
    fill: #fff;
    width: 100%;
    height: 100%;
  }
}