.user {
  text-align: center;
}
.user__image {
  margin: 0 auto;
}
.user__avatar {
  width: 120px;
  height: 120px;
  border-radius: 70px;
}
.user__description {
  margin-top: 20px;
}
.user__name {
  color: #fff;
  font-size: 28px;
}
.user__info {
  color:#fff;
  font-size: 16px;
}