.welcome {
  background: url('/assets/images/water.jpg') top center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.welcome__header-link {
  top: 20px;
  right: 20px;
  position: absolute;
  @include phone {
    right: auto;
    margin: 0 -50% 0 0;
    position: absolute;
    left: 50%;
    top: 55px;
    transform: translate(-50%, -50%);
  }
}
.btn-auth {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  &:hover {
    text-decoration: none;
    background-color: #4e8839;
    border-color: #729e19;
  }
}
.welcome__clip {
  background-color: rgb(18,38,32,0.5);
  width: 380px;
  top: 50%;
  margin: 0 -50% 0 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
.welcome__user{
  padding: 40px 0;
}
.social-links {
  margin: 0 auto;
}

.welcome_menu {
  margin-top: 40px;
  border-radius: 10px;
}
.welcome_socials .socials__link-icon {
  fill: #96a59c;
  width: 30px;
  height: 25px;
  &:hover{
    fill:#477d37;
  }
}